.main {
  text-align: -webkit-center;
}

.search-container {
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
  margin-top: 2em;
  margin-bottom: 2em;
}
.search-container:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search-container:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}

#query-text {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
}

#go {
  background-color: transparent;
  border-color: transparent;
}
